<a href="https://colab.research.google.com/github/jordanho1006/python-projects/blob/main/Openweathermap_API" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question #02 - APIs

In [ ]:
#using the weather API to find the weather data for a single city
#import the necessary libraries
import requests
import json
import pandas as pd

In [ ]:
#API key
API_key = '7b891adfc51b2719c62fc53cffdfe7fd'

#our city on interest
city_names = ['New York','Los Angeles','Chicago','Houston','Phoenix','Philadelphia','San Antonio','San Diego','Dallas','San Jose','Austin']

def API_request(city_names):

  name = []
  temperature = []
  max_temperature = []
  min_temperature = []
  humidity = []
  wind_speed = []
  description = []
  
  for city_name in city_names:

    #url or endpoint to which we are making our request, city_name and API key are the parameters to the API
    url = f'https://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={API_key}&units=imperial'

    #making a request to the API using the URL and the parameters
    r = requests.get(url)

    #checking if our request was successful
    if(r.status_code == 200):

      #by default, the api returns the data in json format. The .json() method returns the data
      data = r.json()
      
      #json.dumps() takes 3 parameters: the actualy json code, a boolean value which sorts the keys (sort_keys), and a value which specifies how much to indent
      formatted_json = json.dumps(data, sort_keys = True, indent = 4)
      #print(formatted_json)

      #extracting common weather information: temperature, humidity, and decription
      name.append(data['name'])
      temperature.append(data['main']['temp'])
      max_temperature.append(data['main']['temp_max'])
      min_temperature.append(data['main']['temp_min'])
      humidity.append(data['main']['humidity'])
      wind_speed.append(data['wind']['speed'])
      #weather is a list
      description.append(data['weather'][0]['description'])
    
    else:
      print('API request for',city_name,'was unsuccessful.','\n')

  #creating a dictionary and turning it into a dataframe
  weather_info = {'City Name' : name,
                  'Temperature' : temperature,
                  'Max Temperature' : max_temperature,
                  'Min Temperature' : min_temperature,
                  'Humidity' : humidity,
                  'Wind Speed' : wind_speed,
                  'Description' : description}
  weather = pd.DataFrame(weather_info)

  #creating a csv file
  weather.to_csv('topcities_weather.csv',index=False)
  return weather

In [ ]:
API_request(city_names)

,City Name,Temperature,Max Temperature,Min Temperature,Humidity,Wind Speed,Description
0,New York,62.11,70.36,53.94,36,19.57,clear sky
1,Los Angeles,68.70,78.58,59.95,57,17.27,clear sky
2,Chicago,45.86,48.38,43.32,72,9.22,overcast clouds
3,Houston,80.94,84.34,76.91,74,19.57,haze
4,Phoenix,86.92,90.05,83.52,9,6.91,broken clouds
5,Philadelphia,63.36,66.45,60.87,28,16.11,few clouds
6,San Antonio,82.54,84.90,80.49,65,14.97,clear sky
7,San Diego,68.63,77.31,62.74,60,11.50,scattered clouds
8,Dallas,80.01,84.67,76.53,68,17.27,broken clouds
9,San Jose,67.06,70.90,58.39,50,16.11,scattered clouds
10,Austin,81.95,84.54,80.35,71,12.66,broken clouds

In [ ]:
API_request(city_names).describe()

       Temperature  Max Temperature  Min Temperature   Humidity  Wind Speed
count    11.000000        11.000000        11.000000  11.000000   11.000000
mean     71.618182        76.358182        66.970909  53.727273   14.650909
std      12.137537        11.847137        13.186316  21.019471    4.120465
min      45.860000        48.380000        43.320000   9.000000    6.910000
25%      65.175000        70.630000        59.005000  43.000000   12.080000
50%      68.650000        78.310000        62.740000  60.000000   16.110000
75%      81.490000        84.650000        78.630000  69.000000   17.270000
max      86.720000        89.710000        83.520000  74.000000   19.570000